@import 'bootstrap_overrides';
@import 'navbar-fixed-side';

// Defaults

body {
  font-family: 'Lato';
}

h1, h2 {
  border-bottom: 1px solid #E6E6E6;
  padding-bottom: 10px;
}

// Dashboard

.navbar-nav {
  li {
    a {
      .item-text {
        font-size: 1.1em;
      }

      .item-icon {
        float:right;
        font-size: 1.5em;
      }
    }
  }

}

@media (min-width:961px) {
  .navbar-fixed-side {
    max-width: 210px;
  }
}

.reactable-pagination {
  text-align: center;
  .reactable-page-button {
    @extend .btn;
    @extend .btn-default;
    margin: 0 2px;
  }
  .reactable-current-page {
    background-color: #E6E6E6;
    border: 1px solid #ccc;
  }
  .reactable-previous-page, .reactable-next-page {
    font-size: 1.1em;
    margin: 0 4px;
  }
}

.reactable-header-sort-desc span:before {
  content: "\25bc";
}

.reactable-header-sort-asc span:before {
  content: "\25b2";
}

#add-new-ticket {
  float:right;
}

.main-content {
  padding: 5px 20px;
}

.collection-actions {
  padding: 20px 20px 25px 0;
}

.actions {
  margin-bottom: 10px;
}

.record-show {
  font-size: 1.2em;
  padding: 0 20px;
}

.record-show .row {
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid #f2efef;
}

.record-show .row:last-child {
  margin-bottom: 10px;
  border: none;
}

.record-show .row .text-right{
  font-weight: 600;
}

// Landing Page

.landing {
  p {
    font-size: 1.1em;
  }

  a {
    font-size: 1.1em;
  }
}
