@import 'bootstrap_overrides';
@import 'navbar-fixed-side';

// Defaults

body {
  font-family: 'Lato';
}

h1, h2 {
  border-bottom: 1px solid #E6E6E6;
  padding-bottom: 10px;
}

// Dashboard

.navbar-nav {
  li {
    a {
      .item-text {
        font-size: 1.1em;
      }

      .item-icon {
        float:right;
        font-size: 1.5em;
      }
    }
  }

}

.reactable-pagination {
  text-align: center;
  .reactable-page-button {
    @extend .btn;
    @extend .btn-default;
    margin: 0 2px;
  }
  .reactable-current-page {
    background-color: #E6E6E6;
    border: 1px solid #ccc;
  }
  .reactable-previous-page, .reactable-next-page {
    font-size: 1.1em;
    margin: 0 4px;
  }
}

#add-new-ticket {
  float:right;
}

.collection-actions {
  padding: 20px 25px;
}

.actions {
  margin-bottom: 10px;
}

// Landing Page

.landing {
  p {
    font-size: 1.1em;
  }

  a {
    font-size: 1.1em;
  }
}
